# ======== Environment ========
# environment variables files
.env
.env.*
*.env
docker-compose.env
!.env.example

# ======== Terraform ========
# Workspace files
.terraform/
**/.terraform/*

# State files
*.tfstate
*.tfstate.*

# Error logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# Overrides files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# ======== Spark ========
# Parquet files
*.parquet

# Snappy compression files
*.snappy
*.snappy.parquet

# Spark output directories
*_spark_metadata/
_metadata/
_common_metadata/

# Partitioned data folders
anomesdia=*/

# Bronze / Silver local outputs
bronze/
silver/

# Hadoop / Spark temp files
.tmp/
.sparkStaging/

# ======== Jupyter ========
# Jupyter Notebook checkpoints
.ipynb_checkpoints